/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.container {
	margin: auto;
	width: 900px;
	/*border: solid 1px black;*/
	
}

header {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	
}

.header-flex{
    display: flex;
    flex-flow: row;
}

/*begin flex for nav container*/
.nav-flex {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row;
	text-align: center;
	width: 100%;
	align-items: center;
	
	
}
/*end flex for nav container*/
.logoa {
	text-align: center;
    margin-left: 140px;
    justify-self: flex-end;
	
}


header nav a {
	margin: 0px 30px 0px 20px;
	color: grey;
	text-decoration: none;
	transition: all 1s ease-in-out;
}

header nav a:hover {
	font-size: 15px;
	color: red;

}



.largeH1 {
	font-size: 80px;
	text-align: center;
}
.button {
	text-align: center;
	border: solid 1px black;
	height: 30px;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 80px;
}

/*begin flex for section getStarted with the header and circle image*/
.getStarted-flex {
	display: flex;
	margin-top: 100px;
	/*margin-left: 100px;*/
	justify-content: flex-end;
	align-content: center;
	
}



.circle-pic {
	margin-left: 80px;
	
}

.large-header {
	align-self: center;
}

/*end getStarted section flex properties*/


/*begin twoCol section flex properties*/
.twoCol-flex {
	width: 100%;
	border-top: solid 1px black;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	flex-direction: row; /*which we know is default*/
	
}

.feature-section {
	/*padding: 40px 10px 0px 0px;*/
	/*display: inline-block;*/
	width: 45%;
	margin-top: 40px;
	margin-right: 40px;
}

.about-section {
	/*padding: 40px 10px 0px 0px;*/
	/*display: inline-block;*/
	width: 45%;
	margin-top: 40px;

}

/*end twoCol flex property manipulation*/

.middle-img {
	margin-top: 40px;
	width: 100%;
}

/*being threeCol flex property manipulation*/
.threeCol-flex {
	margin-top: 40px;
	width: 100%;
	border-bottom: solid 1px black;
	display: flex;
	justify-content: space-between;


}

/*end threeCol flex property maniputlation*/
.services {
	/*display: inline-block;*/
	width: 32%;
	margin-right: 5px;
	margin-bottom: 40px;
}

.product {
	/*display: inline-block;*/
	width: 32%;
	margin-right: 5px;
	margin-bottom: 40px;
}

.vision {
	/*display: inline-block;*/
	width: 32%;
	margin-bottom: 40px;
}

footer {
	margin-top: 40px;
}

.copyright {
	text-align: center;
}

p {
	font-family: "Rajdhani", sans-serif;
}

/*begin footer flex properties*/
.footer-flex {
	display: flex;
	flex-flow: column;
}

/*end footer flex properties*/



/*adding media queries*/

/*800px media queries - tablet*/
@media (max-width: 800px){

    .container {
        width: 80%;
        margin: auto;
    }
    

    .nav-flex {
        width: 100%;
        margin: auto;
       flex-flow: row;
        justify-content: center;
        padding-left: 2%;
        padding-right: 2%;
        justify-items: space-around;

    }
    .header-flex {
        flex-flow:  column-reverse;
        width: 100%;
        
    }
    
    

    .logoa {
        justify-self: center;
        margin-bottom: 7%;
        
        margin-left: 0px;
    }

    .circle-pic {
        display: none;
    }

    .getStarted-flex {
        justify-content: center;
       
    }

    .twoCol-flex {
        padding: 0 2%;
    }

    .threeCol-flex {
        padding: 0 2%;
        }
    
    .footer-flex {
        padding: 0 2%;
    }

    /*end 800px media queries - tablet*/

    /*500px media queries*/
    @media (max-width: 500px){
        .header-flex {
            flex-flow: column-reverse wrap;
            justify-content: center;
        }

        .logoa  {
            width: 96%;
            border-bottom: solid 1px black;
            margin: auto;
            padding-bottom: 5%;
        }
        .nav-flex {
            flex-flow: column wrap;
            justify-content: center;
        }
        .hr-line {
            width: 100%;
            border-bottom: solid 1px black;
            margin: auto;
        }
        header nav a {
            padding: 5% 0;
            font-size: 125%;
        }

        .twoCol-flex {
            flex-flow: column wrap;
        }

        .feature-section {
            width: 100%;
        }

        .about-section {
            width: 100%;
        }

        .threeCol-flex {
            flex-flow: column wrap;
        }

        .product {
            width: 100%;
        }

        .vision {
            width: 100%;
        }
        
        .services {
            width: 100%;
        }
    }

    /*end 500px media queries*/

    

    

    

    

}

