/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

 
    .container {
      width: 80%;
      margin: auto;
    }
    
    .header-flex {
        display: flex;
        flex-flow: column-reverse wrap;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    header nav a {
        width: 100%;
        color: grey;
	    text-decoration: none;
        transition: all 1s ease-in-out;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 125%;
    }

    .nav-flexing {
        flex-flow: column wrap;
        padding-left: 0;
        margin: 0 0;
        margin-bottom: 7%;
        justify-items: space-around;
        justify-content: space-evenly;
    }
    .logoa {
        width: 100%;
        justify-self: center;
        padding-bottom: 5%;
        border-bottom: solid 1px black;
        margin-left: auto;
    }

    .middle-section {
        flex-flow: column wrap;
    }

    .box {
        width: 100%;
        margin-bottom: 40px;
	    border: solid 1px black;
	    padding: 20px;
	    background: whitesmoke;
    }

    .services-info-img {
        display: none;
    }

    .footer-text {
        width: 100%;
    }
    .last-anchor {
        margin: 0 0;
    }

    .hr-line {
            
        width: 100%;
        border-bottom: solid 1px black;
        margin: auto;
        display: block;
    }

    .services-header-img {
        margin-top: 10%;
        width: 100%;
    }

    .footer-flex {
        border-top: solid 1px black;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    ul.footer-list {
        list-style-type: square;
        padding-left: 20px;
        padding-top: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    .copy-right {
        margin-top: 70px;
        text-align: center;
        margin-bottom: 30px;
    }

    .learn {
        border: solid 1px black;
        margin-top: 20px;
        border-radius: 10px;
        width: 35%;
        text-align: center;
        padding: 10px 0px;
        background: white;
    }

    .services-section {
        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    
  

  


